/*PRIMO ESERCIZIO*/
.well > .ex-1-square {
  background-color: none;
  transition: background 4s;
}
.ex-1-square:hover {
  background-color: red;
}
/*SECONDO ESERCIZIO*/
.ex-2-square:active {
 animation-name: allungamento;
 animation-duration: 5s;
}
@keyframes allungamento {
  50% {
      width: calc(100% + 50%);
  }
}
/*TERZO ESERCIZIO*/
.ex-3-square:hover {
 animation-name: cerchio;
 animation-duration: 3s;
}
@keyframes cerchio {
  0% {
      border-radius: 0%;
  }
  50% {
      border-radius: 50%;
  }
  100% {
      border-radius: 100%;
  }
}
/*QUARTO ESERCIZIO*/
.ex-4-square:hover {
 animation-name: opacita;
 animation-duration: 2s;
}
@keyframes opacita {
  0% {
      opacity: none;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 0.0;
  }
}
/*QUINTO ESERCIZIO*/
.ex-5-square:hover {
 animation-name: scomparire;
 animation-duration: 3s;
}
@keyframes scomparire {
  0% {
      height: 100px;
      width: 100px;
  }
  100% {
      height: 200px;
      width: 200px;
  }
}
.ex-5-square:active {
 animation-name: piccolo;
 animation-duration: 3s;
}
@keyframes piccolo {
  0% {
      height: 200px;
      width: 200px;
  }
  100% {
      height: 150px;
      width: 150px;
  }
}
/*SESTO ESERCIZIO*/
.ex-6-img:hover {
 filter: grayscale(1);
}
/*SETTIMO ESERCIZIO*/
.ex-7-img:hover {
  animation-name: gradiente;
  animation-duration: 5s;
}
@keyframes gradiente {
  0% {
      filter: none;
  }
  50% {
      filter: grayscale(1) sepia(10);
  }
  100% {
      filter: grayscale(1);
  }
}
